{% extends 'base.html' %}
{% from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs %}
{% from 'components/button/macro.html' import tnaButton %}
{% from 'components/checkboxes/macro.html' import tnaCheckboxes %}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{% from 'search/macros/render_hidden_fields.html' import render_hidden_fields %}

{%- set pageTitle = 'More filter options' -%}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ static('catalogue-results.css') }}?v={{ app_config.BUILD_VERSION }}" media="screen,print">
{% endblock %}

{% block beforeContent %}
  <div class="tna-background-accent">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        {{ tnaBreadcrumbs({
          'items': [
            {
              'text': 'Home',
              'href': '/'
            },
            {
              'text': 'Catalogue',
              'href': url('main:catalogue')
            }
          ],
          'structuredData': True,
          'classes': 'tna-!--padding-vertical-s'
        }) }}
      </div>
    </div>
    <div class="tna-container">
      <h2 class="tna-heading-l tna-heading--long">Select filters to apply to your results</h2>
    </div>
  </div>
{% endblock %}
  
{% block content %}
  <form id="long-filters-form" method="get" action="{{ url('search:catalogue') }}"> 
    <div class="tna-container tna-section tna-section--long">
      <button class="tna-button" type="submit">
          Apply filters
      </button>
      <a href="{{ mfc_cancel_and_return_to_search_url }}" class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
        Cancel and return to results
      </a>
    </div>

    <div class="tna-container">
      <!--COMMENTING OUT 'SEARCH WITH FILTERS' BOX TEMPORALLY-->
      <!-- <div id="filter-panel" class="tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m ">
        <div class="tna-aside tna-aside--tight tna-background-tint tna-!--margin-top-s tna-background-accent-light tna-hidden-element">
          <div class="tna-form__group " data-module="tna-text-input">
            <div class="tna-form__group-contents">
              <h3 class="tna-form__heading tna-form__heading--s">
                <label class="tna-form__label" for="search-within">
                Search within filters
                </label>
              </h3>
            </div>
            <input id="search-within" class="tna-text-input " name="search_within" value="" type="text" spellcheck="false" autocapitalize="off" autocorrect="off" form="search-form">
            <p>Already selected filters will remain active.</p>
          </div>
        </div>
      </div> -->

      <div id="results" class="tna-column tna-column--width-2-3 tna-!--margin-top-l">
        {{ tnaCheckboxes({
          'label': '',
          'headingLevel': 4,
          'headingSize': "m",
          'id': mfc_field.id,
          'name': mfc_field.name,
          'classes': 'tna-checkboxes--grid',
            'items': mfc_field.items
                }) }}
      </div>  
    </div>

    <div class="tna-container tna-section">
      <button class="tna-button" type="submit">
        Apply filters
      </button>
      <a href="{{ mfc_cancel_and_return_to_search_url }}" class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
        Cancel and return to results
      </a>
    </div>
    {{ render_hidden_fields(request, form, bucket_keys, mfc_field) }}
  </form>

  <div class="tna-background-accent">
    {{ global_alert_banners(request, global_alert.global_alert, global_alert.mourning_notice) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="{{ static('catalogue-results.min.js') }}?v={{ app_config.BUILD_VERSION }}" defer></script>
{% endblock %}